
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Zalando+Sans+Expanded:ital,wght@0,200..900;1,200..900&display=swap');
body {
  font-family: 'Hanken Grotesk', 'Zalando Sans Expanded', sans-serif;
}
